@import "../../variables.styl"

.guess-country-wrapper

  .navbar
    color #fff
    padding 0px 10px
    border-radius 0
    //border 2px solid white
    margin 0
    position fixed
    top 5px
    left 40px
    z-index 1

    .navbar-brand
      height auto
      padding: 39px 0 39px 61px

    .socials
      display inline-block
      padding 52px 41px

    .find-country-wrapper

    .counter-wrapper
      display inline-block

