.guess-country-wrapper
    nav.navbar
        game-task.find-country-wrapper

        div
            .navbar-header
                game-progress.counter-wrapper

    div.content(ui-view="")

    brand



