.status
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  vertical-align: middle;
  margin-top: -5px;

.modal-title
    line-height: 40px;

.status-error
  background-image: url(../assets/images/modal/images/error.png);

.status-partly
  background-image: url(../assets/images/modal/images/partly.png);

.status-success
  background-image: url(../assets/images/modal/images/success.png);

.finish-results
    .text
        font-size:16px
        color: $textColor
    .score-row
        margin-top: 8px
        height: 40px;

    .score-text
        font-size:16px
        height: 20px;
        vertical-align: middle;
        display: inline-block
    .score
        font-size:22px
        height: 26px;
        margin-left: 10px
        vertical-align: middle;
        display: inline-block