span.social-wrapper
    ul.social-list
        li
            a.fa.fa-vk(href="javascript:void(0)" title="Поделиться" ng-click="socialCtrl.popup('vk')")
        li
            a.fa.fa-facebook-f(href="javascript:void(0)" title="Поделиться" ng-click="socialCtrl.popup('fb')")
        li
            a.fa.fa-twitter(href="javascript:void(0)" title="Поделиться" ng-click="socialCtrl.popup('twitter')")
        li
            a#gplus-share.fa.fa-google-plus(href="javascript:void(0)" title="Поделиться" ng-click="socialCtrl.popup('gplus')")