.brand
    position fixed
    top 0px
    right 0px
    width 200px
    height 60px
    background-color rgb(255, 255, 255)
    border-bottom-left-radius: 6px;
    padding: 5px

    .logo

        img
            width: 100%;