.ss-alert {
  position: fixed;
  display: inline-block;
  padding: 15px;
  top: 30px;
  right: 30px;
  z-index: 2000;
}
.ss-alert.success {
  background-color: #5cb85c;
}
.ss-alert.error {
  background-color: #d9534f;
}
