/*bootstrap*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: @color-orange;
  border-radius: 3px;
  color: @color-white;
  border-radius: 3px;
}

.navbar-custom {

  .dropdown-menu{
    background-color: @color-orange;
    border-radius: 3px;
    color: @color-white;
    border-radius: 3px;
  }

}

.navbar-nav>li>.dropdown-menu {
  border-radius: 3px;
}

.navbar-simple {
  background-color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255,255,255,0.9);
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  .nav li a {
    color: dimgray;
  }
}

p {
  margin: 0;
}

.backMenuImage{
  width: 100%;
  height: 100px;
}

.rootContainer{
  padding: @lg*4 @lg*6 @md;
  text-align: center;
  background: url(../images/backimages/sun.jpg);
  min-height: 1000px;
}

.site-wrapper-inner {
  width: 800px;
  display: inline-block;
}

.bg-sun{
  background: url(../images/backimages/sun.jpg);
}

.bg-sun2{
  background: url(../images/backimages/sun2.jpg);
}

