/*bootstrap*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: @color-orange;
  border-radius: 3px;
  color: @color-white;
  border-radius: 3px;
}

.dropdown-menu{
  background-color: @color-orange;
  border-radius: 3px;
  color: @color-white;
  border-radius: 3px;
}

.navbar-nav>li>.dropdown-menu {
  border-radius: 3px;
}

p {
  margin: 0;
}