

@import "../variables.styl"

html
  height 100%

  body
    font-family $font
    font-weight: 400;

    ul
      margin 0
      padding 0

    ul, li
      list-style-type none

    a, input, button, .btn
      &:focus, &:hover, &:active, &:active:focus
        outline none
        text-decoration none
