include components/article
extends ./components/layout.jade

block scripts

block styles

block menu
  +ss-menu(menu, true, "Статьи")

block body
  .rootContainer
    .container
      h2 Путеводители
      ul.articles
        .separator
          .separator-line
        +article({
          title: 'Как добраться до Мальдивских островов: авиабилеты и прочие тонкости',
          description: 'Мальдивские острова — это россыпь живописных атоллов в теплых водах Индийского океана. Здесь все располагает к блаженству: километры уединенных пляжей, высококлассные отели и очень красивая природа. Все о Мальдивах: дайвинг и серфинг, фото, цены, погода и туры.',
          img: 'images/articles/maldives-small.jpg',
          link: '/maldives'
        })
        .separator
          .separator-line
        +article({
          leftImage: true,
          title: 'Как добраться до Мальдивских островов: авиабилеты и прочие тонкости',
          description: 'Мальдивские острова — это россыпь живописных атоллов в теплых водах Индийского океана. Здесь все располагает к блаженству: километры уединенных пляжей, высококлассные отели и очень красивая природа. Все о Мальдивах: дайвинг и серфинг, фото, цены, погода и туры.',
          img: 'images/articles/maldives-small.jpg',
          link: '/maldives'
        })
        .separator
          .separator-line
        +article({
          title: 'Как добраться до Мальдивских островов: авиабилеты и прочие тонкости',
          description: 'Мальдивские острова — это россыпь живописных атоллов в теплых водах Индийского океана. Здесь все располагает к блаженству: километры уединенных пляжей, высококлассные отели и очень красивая природа. Все о Мальдивах: дайвинг и серфинг, фото, цены, погода и туры.',
          img: 'images/articles/maldives-small.jpg',
          link: '/maldives'
        })

      h2 Наши любимые отели
      ul.articles
        +article({
          title: 'Как добраться до Мальдивских островов: авиабилеты и прочие тонкости',
          description: 'Мальдивские острова — это россыпь живописных атоллов в теплых водах Индийского океана. Здесь все располагает к блаженству: километры уединенных пляжей, высококлассные отели и очень красивая природа. Все о Мальдивах: дайвинг и серфинг, фото, цены, погода и туры.',
          img: 'images/articles/maldives-small.jpg',
          link: '/maldives'
        })
