extends ./components/layout.jade

block styles
    link(href='./games/couples/styles.css', rel='stylesheet')

block scripts
    script(src='./games/couples/app.jsx')

block body

    img.backMenuImage(src="images/backImages/1.jpg" )

    #root.site-wrapper
