extends ./components/layout.jade

block scripts
    link(href='build/css/games.css', rel='stylesheet')

block styles
    script(src='build/js/games.jsx')

block body

    img.backMenuImage(src="images/backImages/6.jpg" )

    #root.site-wrapper
