extends ../../build/views/components/layout

block scripts

block styles

block menu
    +ss-menu(menu, true, 'Туры')

block body
    .rootContainer
        .container
          img.img-rounded.picture(src='/images/articles/maldives.jpg')
          h1 JOALI MALDIVES

          .content
            p
              | Первый на Мальдивах отель, предлагающий гостям насладиться произведениями искусства в окружнении неповторимой роскоши и природной красоты, забота о которой является важным элементом курортного концепта. Расположен на острове Мураванду, утопающем в тропической растительности и окруженном белопесчаным пляжем. Элегантные виллы, изысканную кухню ресторанов, первоклассный СПА-центр и высочайший уровень сервиса оценит даже самый требовательный гость. На острове строго запрещено использование дронов!
            p Расположение:
            p на острове Мураванду в атолле Раа, в 170 км от международного аэропорта Велана (г. Мале).
            p Трансфер: 40 минут на гидросамолете (с 06:00 до 16:00 ) или 35 минут на самолете внутренних авиалиний до аэропорта Ifuru + 15 минут на катере до отеля.
            p Размеры острова: 700 x 310 м.
            p Отель:
            p Отель открыт в декабре 2018 года.
            p Всего в отеле 73 виллы (размер номеров указан с учетом зон на открытом воздухе).
            p 6 Beach Villa with Pool (680 м2; макс. 3 или 2 + 1 чел.). Береговые виллы с видом на пляж, сад и океан. Спальня с кроватью king-size, ванная комната с ванной и душем, мини-садик, терраса с частным бассейном (35 м2).
            p 5 Water Villa with Pool (240 м2; макс. 3 или 2 + 1 чел.). Водные виллы с прямым спуском в воду. Спальня с кроватью king-size, ванная комната с ванной и душем, терраса с частным бассейном (35 м2).
            p 5 Sunset Water Villa with Pool (240 м2; макс. 3 или 2 + 1 чел.). Идентичны по наполнению номерам Water Villa with Pool, но имеют вид на закат.
            p 15 Luxury Beach Villa with Pool (865 м2; макс. 3 или 2 + 2 чел.). Береговая вилла с видом на пляж. Отдельная гостиная, спальня с кроватью king-size, ванная комната с ванной и душем, терраса с частным бассейном.
            p 19 Luxury Water Villa with Pool (280 м2; макс. 3 или 2 + 2 чел.). Водные виллы с прямым спуском в воду. Отдельная гостиная, спальня с кроватью king-size, ванная комната с ванной и душем, терраса с частным бассейном (35 м2).
            p 19 Luxury Sunset Water Villa with Pool (280 м2; макс. 3 или 2 + 2 чел.). Идентичны по наполнению номерам Luxury Water Villa with Pool, но имеют вид на закат.
            p 2 Two-Bedroom Luxury Beach Villa with 2 Pools (940 м2; макс. 5 или 4 + 2 чел.). Береговая вилла с двумя спальнями (одна с кроватью king-size, другая – с кроватями twin), ванная комната с ванной и душем, обеденная зона, беседка для отдыха, два частных бассейна. Номер идеально подходит для размещения семей с детьми или дружеских компаний.
            p 1 Three-Bedroom Ocean Residence with 2 Pools (990 м2; макс. 8 или 6 + 3 чел.). Водная вилла с видом на закат, тремя спальнями (две с кроватями king-size, другая – с кроватями twin). Отдельная гостиная, комната для спа-процедур, сауна, два частных бассейна. Шампанское «Dom Perignon» по заезду, услуги персонального батлера и ряд дополнительных привилегий.
            p 1 Four-Bedroom Beach Residence with Pool (1200 м2; макс. 10 или 8 + 4 чел.). Роскошная  двухэтажная пляжная вилла с четырьмя спальнями (две с кроватями king-size, две – с кроватями twin). Библиотека, сауна и джакузи, частный бассейн, комната для няни. Шампанское «Dom Perignon» по заезду, услуги персонального батлера с индивидуальным багги и ряд дополнительных привилегий.
