extends ../../build/views/components/layout

block scripts

block styles

block menu
    +ss-menu(menu, true, 'Туры')

block body
    .rootContainer
        .container
          img.img-rounded.picture(src='/images/articles/Maldives-Voavah-1.jpg')
          h1 Как добраться до Мальдивских островов: авиабилеты и прочие тонкости

          .content
            p Единственная возможность добраться до Мальдив – авиаперелет, международные рейсы приземляются в аэропорту столичного Мале. Раньше я думала, что наверняка есть паромы, соединяющие острова с Индией или Африкой, но во время первой же поездки мне объяснили, что это невозможно: острова представляют собой огромный коралловый атолл, что сильно затрудняет судоходство. И если мелкие лодки и катера без особых проблем лавируют между песчаными отмелями и массивными рифами, то крупными кораблям это не под силу.
            p Мальдивские острова, известные «резиденты» экваториальных вод Индийского океана, с полным правом считаются одним из лучших экзотических направлений. Здесь 1190 островов (вернее, атоллов) и все они — как на подбор: с голубыми лагунами, песчаными пляжами и уникальной растительностью. Для отдыха есть все: тишина и спокойствие, красивая природа, богатый подводный мир. А еще то, без чего любые достоинства любого курорта тут же меркнут в глазах современных избалованных «туриков» — хорошие отели и высокий уровень сервиса.
            p Цены, надо сказать, на Мальдивах тоже вполне «на уровне»: отдых здесь могут себе позволить главным образом путешественники, чей уровень доходов маркетологи определяют как «выше среднего». Выложив за поездку кругленькую сумму, будут довольны отпуском на все 100 % следующие категории отдыхающих. Дайверы-маньяки, погружающиеся по три раза на дню. Этот самый беспроблемный подвид туристов может заселяться хоть в сарай: все равно останутся в восторге, ныряя, как утята, с утра до ночи. Счастливые в браке (или вне его) пары, которым кроме друг друга никто не нужен. Они могут подобрать отель с соответствующей обстановкой — таковых на островах предостаточно. И, конечно, искатели абсолютно расслабленного отдыха в антураже тропического рая.
            p Время перелета варьируется от 9 часов в пути в прямом рейсе из Москвы до чуть ли не суток в самолете с не самой удобной пересадкой. Так или иначе, вот несколько советов, которые лично мне помогают сделать путешествие более комфортным:
            p если вы нормально спите в самолетах, старайтесь выбрать ночной рейс: так и время пролетит быстрее, и по прилете на Мальдивы у вас впереди будет целый день;
            p обязательно надевайте удобную одежду: поверьте, уже через пару часов вы будете мечтать об удобных штанах или не такой жаркой обуви;
            p возьмите с собой что-то, что поможет скоротать время, например, ноутбук или любимую книгу (кстати, многие самолеты, совершающие перелеты на дальние расстояния, оборудованы специальными мультимедийными экранами, с помощью которых можно посмотреть фильм, почитать новости и т.д.);
            p если вы летите с ребенком, подумайте заранее, как развлечь его в полете, не мешая при этом отдыху других пассажиров;
            p во время полета несколько раз сделайте простые гимнастические упражнения, разомните ноги, руки, спину, шею, а лучше встаньте и пройдитесь хотя бы до туалета;
            p захватите с собой аптечку с основным набором лекарств.

