extends ../../build/views/components/layout

block scripts
    script(src='js/bundle.js')

block styles

block menu
    +ss-menu(menu, true)

block body

    .rootContainer

        h2
            | в разработке&nbsp;

            span.glyphicon.glyphicon-wrench(aria-hidden="true")