extends ../../build/views/components/layout

block scripts
    script(type="text/javascript" src='js/bundle.js')
    script(type='text/javascript' src="/js/pages/photos.js")

block styles

block menu
    +ss-menu(menu, true, 'Фотографии')

block body

    .rootContainer
        .container
            photosList