extends ../../build/views/components/layout

block scripts
    script(src='js/bundle.js')

block styles

block menu
    +ss-menu(menu, true, 'Личный кабинет')

block body

    .rootContainer

        .profile
            .profile__email
                label Адрес:
                span= user.email

            .profile__firstName
                label Имя:
                span= user.fname

            .profile__lastName
                label Фамилия:
                span= user.lname

            .profile__birthdate
                label Дата Рождения:
                span= user.birthDate



