extends ../../build/views/components/layout

block scripts
    script(src='js/bundle.js')
    script(type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.6.1/riot.min.js")
    script(type='text/javascript' src="/js/tags.js")
    script(type='text/javascript' src="/js/pages/tours.js")

block styles

block menu
    +ss-menu(menu, true, 'Туры')

block body
    .rootContainer
        .container
            tours
            edit_tour
            details_tour



