$header-bg-color = rgba(0, 0, 0, 0.5)
$header-text-color = #084976;
$header-task-color = #0192FD;
$white = #fff;
$blue = #0092FF;
$correct-color = #2CBB5F;
$wrong-color = #E13332;
$font = 'Roboto', sans-serif;
$textColor = rgb(0,0,0);

$transition1ms = 0.1s ease-in
$transition2ms = 0.2s ease-in
