.globe-wrapper
    .globe
    .zoom_control
        .zoom_in(ng-click='globeCtrl.zoomIn()') +
        .zoom_out(ng-click='globeCtrl.zoomOut()') -
        .normalize(ng-click='globeCtrl.normalize()') 0
        //.axes(ng-click='globeCtrl.showAxes()') Ax
    .country-list-container
        .country-list-inner-container
            ul.country-list
                li.country-list-item(ng-repeat="country in globeCtrl.countryCodes" ng-attr-data-country="{{country.code}}" draggable-flag="country")
                    .flag(class="flag-{{country.code}}")