extends ../components/layout

block styles
    link(href='./games/couples/games.css', rel='stylesheet')

block menu
    +ss-menu(menu, true, Игры)

block scripts
    script(src='./js/bundle.js')

block body

    #root.site-wrapper.rootContainer

        div(style="height:50px;")

        h3 Выберите игру

        .ss-actions.row
                a.ss-actions__action.col-xs-4(href='games/globe')
                    span.fa(class=`fa-globe`)
                    .ss-actions__action-text Глобус

                    a.ss-actions__action.col-xs-4(href='games/couples')
                        span.fa(class=`fa-image`)
                        .ss-actions__action-text Парочки
