include menu

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='Tour agency', content='')
        meta(name='Sokolov', content='')
        title Stolica Sibiri
        // Bootstrap Core CSS
        link(href='css/libs.css', rel='stylesheet')
        link(rel='shortcut icon', type='image/x-icon', href='/images/logo.ico')

        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Chelsea+Market', rel='stylesheet', type='text/css')
        // Theme CSS
        link(href='css/styles.css', rel='stylesheet')

        block styles

    body#page-top.index

        block menu

        block body

        #loginModal.login-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        .lr
                            .rl
                    .container
                        form#authForm(name='sentMessage', novalidate='')
                            .row
                                h1.title
                                    | Войти
                            .row
                                .col-md-6.col-md-offset-3
                                    .form-group
                                        input#name.form-control(type='text', name="email" placeholder='Email', required='', data-validation-required-message='Please enter your email.')
                                        p.help-block.text-danger
                                    .form-group
                                        input#email.form-control(type='text', name="password" placeholder='Пароль', required='', data-validation-required-message='Please enter your password.')
                                        p.help-block.text-danger


                            .row.login-add

                                .col-lg-12.text-center.form-group
                                    button.login-submit.btn.btn-xl Войти
                                    .btn.registration-toggler
                                        a(href='#')  Зарегистрироваться

                            .row

                                .col-md-6.col-md-offset-3.reg-add

                                    .form-group
                                        input#reply-password.form-control(type='text', name="repetpassword" placeholder='Повторите пароль', required='', data-validation-required-message='Please repeat your password.')
                                        p.help-block.text-danger

                                    .form-group
                                        input#fname.form-control(type='text', name="fname" placeholder='Имя', required='', data-validation-required-message='Please enter your name.')
                                        p.help-block.text-danger

                                    .form-group
                                        input#lname.form-control(type='text', name="lname" placeholder='Фамилия', required='', data-validation-required-message='Please enter your name.')
                                        p.help-block.text-danger

                                    .form-group
                                        input#birthdate.form-control(type='text', name="bdate" placeholder='День Рождения', required='', data-validation-required-message='Please enter your birth date.')
                                        p.help-block.text-danger

                                    .col-lg-12.text-center.form-group
                                        button.registration-submit.btn.btn-xl Зарегистрироваться
                                        .btn.registration-toggler
                                            a(href='#')  Уже есть аккаунт

        // jQuery // Bootstrap // jquery.easing // lodash
        script(src='js/libs.js')

        block scripts
