mixin ss-simpleMenuItem(data)

    -var data = data || {};
    -var title = data.title || false;
    -var link = data.link || false;
    -var modal = data.modal || false;
    -var scroll = data.scroll || false;

    li
        a(
            href=link
            class= {'page-scroll': scroll}
            data-toggle= modal ? 'modal' : ''
            )= title

mixin ss-dropdownMenuItem(data)
    -var data = data || {};
    -var title = data.title || false;
    -var submenu = data.submenu || [];

    li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')= title
            span.caret
        ul.dropdown-menu
            each submenuItem in submenu
                if (submenuItem.separator)
                    li.divider(role='separator')
                else
                    li
                        a(href=submenuItem.link)= submenuItem.title


mixin ss-menu-simple(data)
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top.navbar-custom.navbar-simple(role='navigation')
        .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                a.page-scroll.ss-logo-wrapper(href='/')
                    img.ss-logo(alt='', src='images/logoStolicaSibiri.gif')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    each item in data
                        if (!item.submenu)
                            +ss-simpleMenuItem(item)
                        else
                            +ss-dropdownMenuItem(item)

mixin ss-menu-complicated(data)

    - var data = data || [];

    nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
        .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header.page-scroll
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    |  Menu
                    i.fa.fa-bars
                a.page-scroll.ss-logo-wrapper(href='#page-top')
                    img.ss-logo(alt='', src='images/logoStolicaSibiri.gif')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li.hidden
                        a(href='#page-top')

                    each item in data
                        if (!item.submenu)
                            +ss-simpleMenuItem(item)
                        else
                            +ss-dropdownMenuItem(item)

mixin ss-menu(data, isSimple)
    if(isSimple)
        +ss-menu-simple(data)
    else
        +ss-menu-complicated(data)